<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <section class="p-4 bg-light container"> 
        <h2 class="text-secondary">Ingrese Producto</h2>
        <form action='/api/products/add' method='POST'>
            <div class='mb-3'>
                <label class='form-label fw-bold text-secondary fs-3' for='name'>Title:</label>
                <input require class="form-control" type='text' name='title' />
            </div>
            <div class='mb-3'>
                <label class='form-label fw-bold text-secondary fs-3' for='price'>Price:</label>
                <input class="form-control" type='number' name='price'require />
            </div>
            <div class='mb-3'>
                <label class='form-label fw-bold text-secondary fs-3' for='price'>Quantity:</label>
                <input class="form-control" type='number' name='quantity'require />
            </div>
            <div class='mb-3'>
                <label class='form-label fw-bold text-secondary fs-3' for='picture'>Img:</label>
                <input class="form-control" type='url' name='img' require />
                
            </div>
            <div class='mb-3'>
                <input class="btn btn-primary" type='submit' value='Enviar' />
            </div>
        </form>
        <div>
            <a href="/api/products">
                <button class="btn btn-info">Ver Productos</button>
            </a>
        </div>
    </section>
</body>

</html>
