<section>
  <div style="text-align:center">
    <h2>Te descubri pillin</h2>
    <h3>volve al fomulario queres....</h3>
    <a href="add">
      <button class="btn btn-danger">Volver al formulario</button>
    </a>

  </div>

</section>